In [156]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [157]:
train = pd.read_csv('training_v2.csv')
test = pd.read_csv('unlabeled.csv')
wid_dict = pd.read_csv('WiDS Datathon 2020 Dictionary.csv')
sol_temp = pd.read_csv('solution_template.csv')
sam = pd.read_csv('samplesubmission.csv')

In [3]:
train.head()

,encounter_id,patient_id,hospital_id,hospital_death,age,bmi,elective_surgery,ethnicity,gender,height,...,aids,cirrhosis,diabetes_mellitus,hepatic_failure,immunosuppression,leukemia,lymphoma,solid_tumor_with_metastasis,apache_3j_bodysystem,apache_2_bodysystem
0,66154,25312,118,0,68.0,22.73,0,Caucasian,M,180.3,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,Sepsis,Cardiovascular
1,114252,59342,81,0,77.0,27.42,0,Caucasian,F,160.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,Respiratory,Respiratory
2,119783,50777,118,0,25.0,31.95,0,Caucasian,F,172.7,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Metabolic,Metabolic
3,79267,46918,118,0,81.0,22.64,1,Caucasian,F,165.1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Cardiovascular,Cardiovascular
4,92056,34377,33,0,19.0,NaN,0,Caucasian,M,188.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Trauma,Trauma

In [158]:
ttrain = pd.merge(train, test, how='outer')

In [163]:
ttrain.shape

(131021, 186)

In [164]:
ttrain.head()

,encounter_id,patient_id,hospital_id,hospital_death,age,bmi,elective_surgery,ethnicity,gender,height,...,aids,cirrhosis,diabetes_mellitus,hepatic_failure,immunosuppression,leukemia,lymphoma,solid_tumor_with_metastasis,apache_3j_bodysystem,apache_2_bodysystem
0,66154,25312,118,0.0,68.0,22.73,0,Caucasian,M,180.3,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,Sepsis,Cardiovascular
1,114252,59342,81,0.0,77.0,27.42,0,Caucasian,F,160.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,Respiratory,Respiratory
2,119783,50777,118,0.0,25.0,31.95,0,Caucasian,F,172.7,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Metabolic,Metabolic
3,79267,46918,118,0.0,81.0,22.64,1,Caucasian,F,165.1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Cardiovascular,Cardiovascular
4,92056,34377,33,0.0,19.0,NaN,0,Caucasian,M,188.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Trauma,Trauma

In [166]:
ttrain = ttrain.set_index(['encounter_id', 'patient_id', 'hospital_id'])

In [167]:
position = ttrain[['lon', 'lat', 'NL']]

KeyError: "None of [Index(['lon', 'lat', 'NL'], dtype='object')] are in the [columns]"

In [168]:
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis as LDA
lda =LDA(n_components=1)
p = lda.fit_transform(position, target)

NameError: name 'position' is not defined

In [5]:
train.isnull().sum()

encounter_id                         0
patient_id                           0
hospital_id                          0
hospital_death                       0
age                               4228
bmi                               3429
elective_surgery                     0
ethnicity                         1395
gender                              25
height                            1334
hospital_admit_source            21409
icu_admit_source                   112
icu_id                               0
icu_stay_type                        0
icu_type                             0
pre_icu_los_days                     0
readmission_status                   0
weight                            2720
albumin_apache                   54379
apache_2_diagnosis                1662
apache_3j_diagnosis               1101
apache_post_operative                0
arf_apache                         715
bilirubin_apache                 58134
bun_apache                       19262
creatinine_apache                18853
fio2_apache                      70868
gcs_eyes_apache                   1901
gcs_motor_apache                  1901
gcs_unable_apache                 1037
                                 ...
h1_wbc_max                       75953
h1_wbc_min                       75953
d1_arterial_pco2_max             59271
d1_arterial_pco2_min             59271
d1_arterial_ph_max               60123
d1_arterial_ph_min               60123
d1_arterial_po2_max              59262
d1_arterial_po2_min              59262
d1_pao2fio2ratio_max             66008
d1_pao2fio2ratio_min             66008
h1_arterial_pco2_max             75959
h1_arterial_pco2_min             75959
h1_arterial_ph_max               76424
h1_arterial_ph_min               76424
h1_arterial_po2_max              75945
h1_arterial_po2_min              75945
h1_pao2fio2ratio_max             80195
h1_pao2fio2ratio_min             80195
apache_4a_hospital_death_prob     7947
apache_4a_icu_death_prob          7947
aids                               715
cirrhosis                          715
diabetes_mellitus                  715
hepatic_failure                    715
immunosuppression                  715
leukemia                           715
lymphoma                           715
solid_tumor_with_metastasis        715
apache_3j_bodysystem              1662
apache_2_bodysystem               1662
Length: 186, dtype: int64

In [6]:
ttrain.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 131021 entries, 0 to 131020
Columns: 186 entries, encounter_id to apache_2_bodysystem
dtypes: float64(171), int64(7), object(8)
memory usage: 186.9+ MB

In [7]:
ttest= ttrain[91713 :]

In [8]:
train.shape, test.shape, ttrain.shape, ttest.shape

((91713, 186), (39308, 186), (131021, 186), (39308, 186))

In [9]:
test.head()

,encounter_id,patient_id,hospital_id,hospital_death,age,bmi,elective_surgery,ethnicity,gender,height,...,aids,cirrhosis,diabetes_mellitus,hepatic_failure,immunosuppression,leukemia,lymphoma,solid_tumor_with_metastasis,apache_3j_bodysystem,apache_2_bodysystem
0,2,127112,7,NaN,56.0,21.102439,0,Caucasian,M,180.3,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Neurological,Neurologic
1,5,130737,178,NaN,NaN,19.500595,1,Caucasian,F,145.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Neurological,Neurologic
2,7,101458,86,NaN,66.0,32.518596,1,African American,M,170.2,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Cardiovascular,Cardiovascular
3,8,48067,163,NaN,64.0,20.798520,0,Caucasian,M,182.8,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,Respiratory,Respiratory
4,10,25865,59,NaN,56.0,NaN,0,Caucasian,M,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Neurological,Neurologic

In [10]:
ttest.head()

,encounter_id,patient_id,hospital_id,hospital_death,age,bmi,elective_surgery,ethnicity,gender,height,...,aids,cirrhosis,diabetes_mellitus,hepatic_failure,immunosuppression,leukemia,lymphoma,solid_tumor_with_metastasis,apache_3j_bodysystem,apache_2_bodysystem
91713,2,127112,7,NaN,56.0,21.102439,0,Caucasian,M,180.3,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Neurological,Neurologic
91714,5,130737,178,NaN,NaN,19.500595,1,Caucasian,F,145.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Neurological,Neurologic
91715,7,101458,86,NaN,66.0,32.518596,1,African American,M,170.2,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Cardiovascular,Cardiovascular
91716,8,48067,163,NaN,64.0,20.798520,0,Caucasian,M,182.8,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,Respiratory,Respiratory
91717,10,25865,59,NaN,56.0,NaN,0,Caucasian,M,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Neurological,Neurologic

In [11]:
int1 = ttrain.select_dtypes(exclude=['object'])

In [12]:
cat = ttrain.select_dtypes(exclude=['int64', 'float64'])

In [13]:
a = (int1.isnull().sum() /len(int1)) * 100

In [14]:
train.shape, test.shape, ttrain.shape

((91713, 186), (39308, 186), (131021, 186))

In [15]:
(a < 11).sum()

83

In [16]:
int1_10 = int1[a[a < 11].index]

In [17]:
#int1_10.interpolate()
int1_10.fillna(int1_10.median(), inplace=True)

In [18]:
ttrain[int1_10.columns] = int1_10

In [19]:
int1.drop(int1[a[a < 11].index],axis=1, inplace=True)

In [20]:
int1_10.head()

,encounter_id,patient_id,hospital_id,age,bmi,elective_surgery,height,icu_id,pre_icu_los_days,readmission_status,...,apache_4a_hospital_death_prob,apache_4a_icu_death_prob,aids,cirrhosis,diabetes_mellitus,hepatic_failure,immunosuppression,leukemia,lymphoma,solid_tumor_with_metastasis
0,66154,25312,118,68.0,22.730000,0,180.3,92,0.541667,0,...,0.10,0.05,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1,114252,59342,81,77.0,27.420000,0,160.0,90,0.927778,0,...,0.47,0.29,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,119783,50777,118,25.0,31.950000,0,172.7,93,0.000694,0,...,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,79267,46918,118,81.0,22.640000,1,165.1,92,0.000694,0,...,0.04,0.03,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,92056,34377,33,19.0,27.573696,0,188.0,91,0.073611,0,...,0.05,0.02,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [21]:
a = (int1.isnull().sum() /len(int1)) * 100
int1_50 = int1[a[a < 51].index]
int1.drop(int1[a[a < 51].index],axis=1, inplace=True)

In [22]:
int1_50.head()

,hospital_death,bun_apache,creatinine_apache,glucose_apache,hematocrit_apache,sodium_apache,urineoutput_apache,wbc_apache,h1_temp_max,h1_temp_min,...,d1_hco3_max,d1_hco3_min,d1_hemaglobin_max,d1_hemaglobin_min,d1_hematocrit_max,d1_hematocrit_min,d1_platelets_max,d1_platelets_min,d1_wbc_max,d1_wbc_min
0,0.0,31.0,2.51,168.0,27.4,134.0,NaN,14.1,39.5,37.5,...,19.0,15.0,8.9,8.9,27.4,27.4,233.0,233.0,14.1,14.1
1,0.0,9.0,0.56,145.0,36.9,145.0,NaN,12.7,36.3,36.3,...,27.0,26.0,11.3,11.1,36.9,36.1,557.0,487.0,23.3,12.7
2,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,36.7,36.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0.0,NaN,NaN,185.0,25.9,NaN,NaN,8.0,35.6,34.8,...,NaN,NaN,11.6,8.9,34.0,25.9,198.0,43.0,9.0,8.0
4,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
# int1 > 50
#from sklearn.impute import SimpleImputer
#my_imp = SimpleImputer()
#imp_int1= pd.DataFrame(my_imp.fit_transform(int1_50))

In [24]:
#imp_int1.columns = int1_50.columns

In [25]:
#imp_int1 = imp_int1.round(1)

In [26]:
#ttrain[imp_int1.columns] = imp_int1

In [27]:
int1_50.fillna(int1_50.median(), inplace=True)

In [28]:
ttrain[int1_50.columns] = int1_50

In [29]:
ttrain.isnull().sum()

encounter_id                          0
patient_id                            0
hospital_id                           0
hospital_death                        0
age                                   0
bmi                                   0
elective_surgery                      0
ethnicity                          1566
gender                               40
height                                0
hospital_admit_source             33357
icu_admit_source                    227
icu_id                                0
icu_stay_type                         0
icu_type                              0
pre_icu_los_days                      0
readmission_status                    0
weight                                0
albumin_apache                    79029
apache_2_diagnosis                    0
apache_3j_diagnosis                   0
apache_post_operative                 0
arf_apache                            0
bilirubin_apache                  83426
bun_apache                            0
creatinine_apache                     0
fio2_apache                      100586
gcs_eyes_apache                       0
gcs_motor_apache                      0
gcs_unable_apache                     0
                                  ...
h1_wbc_max                       106722
h1_wbc_min                       106722
d1_arterial_pco2_max              85046
d1_arterial_pco2_min              85046
d1_arterial_ph_max                85394
d1_arterial_ph_min                85394
d1_arterial_po2_max               84595
d1_arterial_po2_min               84595
d1_pao2fio2ratio_max              93983
d1_pao2fio2ratio_min              93983
h1_arterial_pco2_max             108422
h1_arterial_pco2_min             108422
h1_arterial_ph_max               108605
h1_arterial_ph_min               108605
h1_arterial_po2_max              108201
h1_arterial_po2_min              108201
h1_pao2fio2ratio_max             114181
h1_pao2fio2ratio_min             114181
apache_4a_hospital_death_prob         0
apache_4a_icu_death_prob              0
aids                                  0
cirrhosis                             0
diabetes_mellitus                     0
hepatic_failure                       0
immunosuppression                     0
leukemia                              0
lymphoma                              0
solid_tumor_with_metastasis           0
apache_3j_bodysystem               2558
apache_2_bodysystem                2558
Length: 186, dtype: int64

In [30]:
ttrain.drop(int1.columns, axis=1, inplace=True)

In [31]:
ttrain.isnull().sum()

encounter_id                         0
patient_id                           0
hospital_id                          0
hospital_death                       0
age                                  0
bmi                                  0
elective_surgery                     0
ethnicity                         1566
gender                              40
height                               0
hospital_admit_source            33357
icu_admit_source                   227
icu_id                               0
icu_stay_type                        0
icu_type                             0
pre_icu_los_days                     0
readmission_status                   0
weight                               0
apache_2_diagnosis                   0
apache_3j_diagnosis                  0
apache_post_operative                0
arf_apache                           0
bun_apache                           0
creatinine_apache                    0
gcs_eyes_apache                      0
gcs_motor_apache                     0
gcs_unable_apache                    0
gcs_verbal_apache                    0
glucose_apache                       0
heart_rate_apache                    0
                                 ...
d1_creatinine_max                    0
d1_creatinine_min                    0
d1_glucose_max                       0
d1_glucose_min                       0
d1_hco3_max                          0
d1_hco3_min                          0
d1_hemaglobin_max                    0
d1_hemaglobin_min                    0
d1_hematocrit_max                    0
d1_hematocrit_min                    0
d1_platelets_max                     0
d1_platelets_min                     0
d1_potassium_max                     0
d1_potassium_min                     0
d1_sodium_max                        0
d1_sodium_min                        0
d1_wbc_max                           0
d1_wbc_min                           0
apache_4a_hospital_death_prob        0
apache_4a_icu_death_prob             0
aids                                 0
cirrhosis                            0
diabetes_mellitus                    0
hepatic_failure                      0
immunosuppression                    0
leukemia                             0
lymphoma                             0
solid_tumor_with_metastasis          0
apache_3j_bodysystem              2558
apache_2_bodysystem               2558
Length: 113, dtype: int64

In [32]:
ttrain.apache_3j_bodysystem.value_counts()

Cardiovascular          41392
Neurological            17885
Respiratory             16893
Sepsis                  16402
Gastrointestinal        12975
Metabolic               10751
Trauma                   6237
Genitourinary            2992
Musculoskeletal/Skin     1669
Hematological             830
Gynecological             437
Name: apache_3j_bodysystem, dtype: int64

In [33]:
cat.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 131021 entries, 0 to 131020
Data columns (total 8 columns):
ethnicity                129455 non-null object
gender                   130981 non-null object
hospital_admit_source    97664 non-null object
icu_admit_source         130794 non-null object
icu_stay_type            131021 non-null object
icu_type                 131021 non-null object
apache_3j_bodysystem     128463 non-null object
apache_2_bodysystem      128463 non-null object
dtypes: object(8)
memory usage: 9.0+ MB

In [34]:
cat.isnull().sum()

ethnicity                 1566
gender                      40
hospital_admit_source    33357
icu_admit_source           227
icu_stay_type                0
icu_type                     0
apache_3j_bodysystem      2558
apache_2_bodysystem       2558
dtype: int64

In [35]:
cat.ethnicity.value_counts()

Caucasian           100924
African American     14018
Other/Unknown         6295
Hispanic              5087
Asian                 2209
Native American        922
Name: ethnicity, dtype: int64

In [36]:
pd.crosstab(cat.ethnicity, train.hospital_death, margins=True)

hospital_death        0     1    All
ethnicity
African American   8797   750   9547
Asian              1036    93   1129
Caucasian         64516  6168  70684
Hispanic           3420   376   3796
Native American     718    70    788
Other/Unknown      4021   353   4374
All               82508  7810  90318

In [37]:
cat.shape

(131021, 8)

In [38]:
ttrain.ethnicity.fillna('Other/Unknown', inplace=True)

In [39]:
ttrain['ethnicity'][ttrain['ethnicity'] == 'Caucasian'] = 0
ttrain['ethnicity'][ttrain['ethnicity'] == 'African American'] = 1
ttrain['ethnicity'][ttrain['ethnicity'] == 'Other/Unknown'] = 2
ttrain['ethnicity'][ttrain['ethnicity'] == 'Hispanic'] = 3
ttrain['ethnicity'][ttrain['ethnicity'] == 'Asian'] = 4
ttrain['ethnicity'][ttrain['ethnicity'] == 'Native American'] = 5

In [40]:
#ttrain = pd.get_dummies(ttrain, columns=['ethnicity'])

In [41]:
cat.gender.value_counts()

M    70981
F    60000
Name: gender, dtype: int64

In [42]:
ttrain.gender.fillna('NotSure', inplace=True)

In [43]:
ttrain = pd.get_dummies(ttrain, columns=['gender'])

In [44]:
cat.hospital_admit_source.value_counts()

Emergency Department    51618
Operating Room          13819
Floor                   11438
Direct Admit             8325
Recovery Room            4584
Other Hospital           2434
Acute Care/Floor         2122
Step-Down Unit (SDU)     1629
PACU                     1033
Other ICU                 286
Chest Pain Center         258
ICU to SDU                 63
ICU                        37
Observation                10
Other                       8
Name: hospital_admit_source, dtype: int64

In [45]:
ttrain.hospital_admit_source.fillna('Other', inplace=True)

In [46]:
pd.crosstab(cat.hospital_admit_source, train.hospital_death, margins=True)

hospital_death             0     1    All
hospital_admit_source
Acute Care/Floor        1709   201   1910
Chest Pain Center        126     8    134
Direct Admit            5780   661   6441
Emergency Department   33735  3227  36962
Floor                   6937  1118   8055
ICU                       32     3     35
ICU to SDU                42     3     45
Observation               10     0     10
Operating Room          9442   345   9787
Other                      6     1      7
Other Hospital          1419   222   1641
Other ICU                198    35    233
PACU                     987    30   1017
Recovery Room           2792   104   2896
Step-Down Unit (SDU)     918   213   1131
All                    64133  6171  70304

In [47]:
ttrain['hospital_admit_source'][ttrain['hospital_admit_source'] == 'Emergency Department'] = 0
ttrain['hospital_admit_source'][ttrain['hospital_admit_source'] == 'Operating Room'] = 1
ttrain['hospital_admit_source'][ttrain['hospital_admit_source'] == 'Floor'] = 2
ttrain['hospital_admit_source'][ttrain['hospital_admit_source'] == 'Direct Admit'] = 3
ttrain['hospital_admit_source'][ttrain['hospital_admit_source'] == 'Recovery Room'] = 4
ttrain['hospital_admit_source'][ttrain['hospital_admit_source'] == 'Acute Care/Floor'] = 5
ttrain['hospital_admit_source'][ttrain['hospital_admit_source'] == 'Other Hospital'] = 6
ttrain['hospital_admit_source'][ttrain['hospital_admit_source'] == 'Step-Down Unit (SDU)'] = 7
ttrain['hospital_admit_source'][ttrain['hospital_admit_source'] == 'PACU'] = 8
ttrain['hospital_admit_source'][ttrain['hospital_admit_source'] == 'Other ICU'] = 9
ttrain['hospital_admit_source'][ttrain['hospital_admit_source'] == 'Chest Pain Center'] = 10
ttrain['hospital_admit_source'][ttrain['hospital_admit_source'] == 'Other'] = 11
ttrain['hospital_admit_source'][ttrain['hospital_admit_source'] == 'Observation'] = 11
ttrain['hospital_admit_source'][ttrain['hospital_admit_source'] == 'ICU'] = 12
ttrain['hospital_admit_source'][ttrain['hospital_admit_source'] == 'ICU to SDU'] = 12

In [48]:
cat.apache_2_bodysystem.value_counts()

Cardiovascular         53645
Neurologic             17885
Respiratory            16893
Gastrointestinal       12975
Metabolic              10751
Trauma                  6237
Undefined diagnoses     5368
Renal/Genitourinary     3392
Haematologic             830
Undefined Diagnoses      487
Name: apache_2_bodysystem, dtype: int64

In [49]:
ttrain.apache_2_bodysystem.fillna('Undefined Diagnoses', inplace=True)
ttrain.apache_2_bodysystem.replace('Undefined diagnoses', 'Undefined Diagnoses', inplace=True)

In [50]:
ttrain['apache_2_bodysystem'][ttrain['apache_2_bodysystem'] == 'Respiratory'] = 0
ttrain['apache_2_bodysystem'][ttrain['apache_2_bodysystem'] == 'Cardiovascular'] = 1
ttrain['apache_2_bodysystem'][ttrain['apache_2_bodysystem'] == 'Haematologic'] = 2
ttrain['apache_2_bodysystem'][ttrain['apache_2_bodysystem'] == 'Undefined Diagnoses'] = 8
ttrain['apache_2_bodysystem'][ttrain['apache_2_bodysystem'] == 'Undefined diagnoses'] = 8
ttrain['apache_2_bodysystem'][ttrain['apache_2_bodysystem'] == 'Neurologic'] = 3
ttrain['apache_2_bodysystem'][ttrain['apache_2_bodysystem'] == 'Trauma'] = 5
ttrain['apache_2_bodysystem'][ttrain['apache_2_bodysystem'] == 'Gastrointestinal'] = 4
ttrain['apache_2_bodysystem'][ttrain['apache_2_bodysystem'] == 'Renal/Genitourinary'] = 6
ttrain['apache_2_bodysystem'][ttrain['apache_2_bodysystem'] == 'Metabolic'] = 7

In [51]:
ttrain.icu_stay_type.value_counts()

admit       125263
transfer      5140
readmit        618
Name: icu_stay_type, dtype: int64

In [52]:
pd.crosstab(cat.icu_stay_type, train.hospital_death, margins=True)

hospital_death      0     1    All
icu_stay_type
admit           78843  7340  86183
readmit           510    50    560
transfer         4445   525   4970
All             83798  7915  91713

In [53]:
ttrain['icu_stay_type'][ttrain['icu_stay_type'] == 'admit'] = 0
ttrain['icu_stay_type'][ttrain['icu_stay_type'] == 'readmit'] = 2
ttrain['icu_stay_type'][ttrain['icu_stay_type'] == 'transfer'] = 1

In [54]:
pd.crosstab(cat.icu_type, train.hospital_death, margins=True)

hospital_death      0     1    All
icu_type
CCU-CTICU        6614   542   7156
CSICU            4359   254   4613
CTICU            3762   241   4003
Cardiac ICU      4282   494   4776
MICU             6765   930   7695
Med-Surg ICU    46160  4426  50586
Neuro ICU        7037   638   7675
SICU             4819   390   5209
All             83798  7915  91713

In [55]:
ttrain = pd.get_dummies(ttrain, columns = ['icu_type'])

In [56]:
ttrain.apache_3j_bodysystem = ttrain.apache_3j_bodysystem.fillna('Undefined_Diagnoses')

In [57]:
ttrain['apache_3j_bodysystem'][ttrain['apache_3j_bodysystem'] == 'Sepsis'] = 0
ttrain['apache_3j_bodysystem'][ttrain['apache_3j_bodysystem'] == 'Respiratory'] = 1
ttrain['apache_3j_bodysystem'][ttrain['apache_3j_bodysystem'] == 'Hematological'] = 2
ttrain['apache_3j_bodysystem'][ttrain['apache_3j_bodysystem'] == 'Undefined_Diagnoses'] = 10
ttrain['apache_3j_bodysystem'][ttrain['apache_3j_bodysystem'] == 'Neurological'] = 4
ttrain['apache_3j_bodysystem'][ttrain['apache_3j_bodysystem'] == 'Cardiovascular'] = 3
ttrain['apache_3j_bodysystem'][ttrain['apache_3j_bodysystem'] == 'Gastrointestinal'] = 5
ttrain['apache_3j_bodysystem'][ttrain['apache_3j_bodysystem'] == 'Trauma'] = 6
ttrain['apache_3j_bodysystem'][ttrain['apache_3j_bodysystem'] == 'Genitourinary'] = 7
ttrain['apache_3j_bodysystem'][ttrain['apache_3j_bodysystem'] == 'Musculoskeletal/Skin'] = 8
ttrain['apache_3j_bodysystem'][ttrain['apache_3j_bodysystem'] == 'Metabolic'] = 9
ttrain['apache_3j_bodysystem'][ttrain['apache_3j_bodysystem'] == 'Gynecological'] = 10

In [58]:
ttrain.icu_admit_source.value_counts()

Accident & Emergency         77190
Operating Room / Recovery    27507
Floor                        21581
Other Hospital                3475
Other ICU                     1041
Name: icu_admit_source, dtype: int64

In [59]:
ttrain.icu_admit_source.fillna('Accident & Emergency', inplace=True)

In [60]:
pd.crosstab(cat.icu_admit_source, train.hospital_death, margins=True)

hospital_death                 0     1    All
icu_admit_source
Accident & Emergency       49390  4670  54060
Floor                      13517  2094  15611
Operating Room / Recovery  18015   698  18713
Other Hospital              2041   317   2358
Other ICU                    735   124    859
All                        83698  7903  91601

In [61]:
ttrain['icu_admit_source'][ttrain['icu_admit_source'] == 'Accident & Emergency'] = 0
ttrain['icu_admit_source'][ttrain['icu_admit_source'] == 'Floor'] = 1
ttrain['icu_admit_source'][ttrain['icu_admit_source'] == 'Operating Room / Recovery'] = 2
ttrain['icu_admit_source'][ttrain['icu_admit_source'] == 'Other Hospital'] = 3
ttrain['icu_admit_source'][ttrain['icu_admit_source'] == 'Other ICU'] = 4

In [62]:
dict_train = dict(ttrain.isnull().sum() > 0)

In [63]:
true_columns = []
for i, j in zip(dict_train.keys(), dict_train.values()):
    if j == True:
        ttrain.drop(i,axis=1, inplace=True)
    else:
        pass
ttrain.columns

Index(['encounter_id', 'patient_id', 'hospital_id', 'hospital_death', 'age',
       'bmi', 'elective_surgery', 'ethnicity', 'height',
       'hospital_admit_source',
       ...
       'gender_M', 'gender_NotSure', 'icu_type_CCU-CTICU', 'icu_type_CSICU',
       'icu_type_CTICU', 'icu_type_Cardiac ICU', 'icu_type_MICU',
       'icu_type_Med-Surg ICU', 'icu_type_Neuro ICU', 'icu_type_SICU'],
      dtype='object', length=122)

In [64]:
ttrain.isnull().sum()

encounter_id                     0
patient_id                       0
hospital_id                      0
hospital_death                   0
age                              0
bmi                              0
elective_surgery                 0
ethnicity                        0
height                           0
hospital_admit_source            0
icu_admit_source                 0
icu_id                           0
icu_stay_type                    0
pre_icu_los_days                 0
readmission_status               0
weight                           0
apache_2_diagnosis               0
apache_3j_diagnosis              0
apache_post_operative            0
arf_apache                       0
bun_apache                       0
creatinine_apache                0
gcs_eyes_apache                  0
gcs_motor_apache                 0
gcs_unable_apache                0
gcs_verbal_apache                0
glucose_apache                   0
heart_rate_apache                0
hematocrit_apache                0
intubated_apache                 0
                                ..
d1_platelets_min                 0
d1_potassium_max                 0
d1_potassium_min                 0
d1_sodium_max                    0
d1_sodium_min                    0
d1_wbc_max                       0
d1_wbc_min                       0
apache_4a_hospital_death_prob    0
apache_4a_icu_death_prob         0
aids                             0
cirrhosis                        0
diabetes_mellitus                0
hepatic_failure                  0
immunosuppression                0
leukemia                         0
lymphoma                         0
solid_tumor_with_metastasis      0
apache_3j_bodysystem             0
apache_2_bodysystem              0
gender_F                         0
gender_M                         0
gender_NotSure                   0
icu_type_CCU-CTICU               0
icu_type_CSICU                   0
icu_type_CTICU                   0
icu_type_Cardiac ICU             0
icu_type_MICU                    0
icu_type_Med-Surg ICU            0
icu_type_Neuro ICU               0
icu_type_SICU                    0
Length: 122, dtype: int64

In [65]:
ttrain.to_csv('cleaned_both.csv')

In [66]:
ttrain.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 131021 entries, 0 to 131020
Columns: 122 entries, encounter_id to icu_type_SICU
dtypes: float64(98), int64(7), object(6), uint8(11)
memory usage: 118.3+ MB

In [67]:
cat.columns

Index(['ethnicity', 'gender', 'hospital_admit_source', 'icu_admit_source',
       'icu_stay_type', 'icu_type', 'apache_3j_bodysystem',
       'apache_2_bodysystem'],
      dtype='object')

In [68]:
ttrain.ethnicity = pd.to_numeric(ttrain.ethnicity)
ttrain.hospital_admit_source = pd.to_numeric(ttrain.hospital_admit_source)
ttrain.icu_admit_source = pd.to_numeric(ttrain.icu_admit_source)
ttrain.icu_stay_type = pd.to_numeric(ttrain.icu_stay_type)
ttrain.apache_3j_bodysystem = pd.to_numeric(ttrain.apache_3j_bodysystem)
ttrain.apache_2_bodysystem = pd.to_numeric(ttrain.apache_2_bodysystem)

In [69]:
ttest= ttrain[91713 :]

In [70]:
ttrain.drop(ttest.index, inplace=True)

In [71]:
ttrain.shape, ttest.shape

((91713, 122), (39308, 122))

In [73]:
target = train.hospital_death
#target.to_csv('target.csv')

In [136]:
from sklearn.preprocessing import Normalizer
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler

nrm = Normalizer()
std = StandardScaler()
minmax = MinMaxScaler()
n_train = nrm.fit_transform(ttrain)
s_train = std.fit_transform(n_train)
m_train = minmax.fit_transform(s_train)

In [150]:
n_test = nrm.fit_transform(ttest)
s_test = std.fit_transform(n_test)
m_test = minmax.fit_transform(s_test)

In [137]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(m_train, target, random_state=42)

In [138]:
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis as LDA
lda =LDA(n_components=45)
X_train = lda.fit_transform(x_train, y_train)
X_test = lda.transform(x_test)

In [139]:
t1 = lda.transform(ttest)

In [ ]:
from sklearn.decomposition import PCA

pca = PCA(n_components=25, whiten=True).fit(x_train)
train_pca = pca.transform(x_train)
test_pca = pca.transform(x_test)
print(train_pca.shape)

In [89]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression(normalize=True)
lr.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=True)

In [90]:
p = lr.predict(X_test)
from math import sqrt
from sklearn.metrics import mean_squared_error
sqrt(mean_squared_error(p, y_test))

0.24780661597116338

In [140]:
from sklearn.linear_model import LogisticRegression
LR = LogisticRegression()
LR.fit(x_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [141]:
p = LR.predict(x_test)

from sklearn.metrics import roc_auc_score
roc_auc_score(p, y_test)

0.9665673102589198

In [142]:
LR.predict_proba(x_test)

array([[0.9282011 , 0.0717989 ],
       [0.96477769, 0.03522231],
       [0.97793443, 0.02206557],
       ...,
       [0.30529867, 0.69470133],
       [0.94304751, 0.05695249],
       [0.9777236 , 0.0222764 ]])

In [143]:
a = LR.predict_proba(x_test)[:, 1]
a

array([0., 0., 0., ..., 0., 0., 0.])

In [144]:
#pre = LR.predict(ttest)
output = pd.DataFrame(data = {'encounter_id':test['encounter_id'], 'hospital_death':a})
output.to_csv(path_or_buf = 'pred3.csv', index = False, quoting = 3)

In [145]:
from xgboost import XGBClassifier
xgb = XGBClassifier(base_score=0.7, learning_rate = 0.02,
                    num_boosting_rounds = 270,
                    n_estimators= 500, 
                    gamma=0.1,max_depth=10, 
                    subsample=0.8)
xgb.fit(x_train, y_train)

XGBClassifier(base_score=0.7, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0.1,
              learning_rate=0.02, max_delta_step=0, max_depth=10,
              min_child_weight=1, missing=None, n_estimators=500, n_jobs=1,
              nthread=None, num_boosting_rounds=270,
              objective='binary:logistic', random_state=0, reg_alpha=0,
              reg_lambda=1, scale_pos_weight=1, seed=None, silent=None,
              subsample=0.8, verbosity=1)

In [146]:
a = xgb.predict(x_test)
from sklearn.metrics import roc_auc_score
roc_auc_score(a, y_test)

1.0

In [148]:
xgb.predict_proba(x_test)

array([[9.9994475e-01, 5.5244785e-05],
       [9.9994475e-01, 5.5244785e-05],
       [9.9994475e-01, 5.5244785e-05],
       ...,
       [1.5401840e-04, 9.9984598e-01],
       [9.9994475e-01, 5.5244785e-05],
       [9.9994475e-01, 5.5244785e-05]], dtype=float32)

In [151]:
a = xgb.predict_proba(m_test)[:, 1]
a

array([9.703959e-05, 9.703959e-05, 9.703959e-05, ..., 9.703959e-05,
       9.703959e-05, 9.703959e-05], dtype=float32)

In [152]:
#pre = gr.predict(ttest)
output = pd.DataFrame(data = {'encounter_id':test['encounter_id'], 'hospital_death':a})
output.to_csv(path_or_buf = 'C.csv', index = False, quoting = 3)

In [153]:
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.metrics import f1_score
gr = GradientBoostingClassifier()
gr.fit(x_train, y_train)

GradientBoostingClassifier(criterion='friedman_mse', init=None,
                           learning_rate=0.1, loss='deviance', max_depth=3,
                           max_features=None, max_leaf_nodes=None,
                           min_impurity_decrease=0.0, min_impurity_split=None,
                           min_samples_leaf=1, min_samples_split=2,
                           min_weight_fraction_leaf=0.0, n_estimators=100,
                           n_iter_no_change=None, presort='auto',
                           random_state=None, subsample=1.0, tol=0.0001,
                           validation_fraction=0.1, verbose=0,
                           warm_start=False)

In [154]:
p = gr.predict(x_test)
#f1_score(p, y_test)

In [155]:
from sklearn.metrics import roc_auc_score
roc_auc_score(p, y_test)

1.0

In [123]:
gr.predict_proba(X_test)

array([[0.98627113, 0.01372887],
       [0.99363257, 0.00636743],
       [0.94098273, 0.05901727],
       ...,
       [0.64806466, 0.35193534],
       [0.97031108, 0.02968892],
       [0.99273947, 0.00726053]])

In [126]:
pre = gr.predict_proba(t1)[:, 1]
pre

array([0.02968892, 0.00726053, 0.03532739, ..., 0.04793815, 0.02723642,
       0.192001  ])

In [127]:
#pre = gr.predict(ttest)
output = pd.DataFrame(data = {'encounter_id':test['encounter_id'], 'hospital_death':pre})
output.to_csv(path_or_buf = 'A.csv', index = False, quoting = 3)

In [81]:
from sklearn.model_selection import train_test_split

data = train_test_split(train1, target, test_size=0.2, random_state=0, stratify=target)
X_train, X_validation, y_train, y_validation = data

train_pool = Pool(
    data=X_train, 
    label=y_train, 
    cat_features=cat_features
)

validation_pool = Pool(
    data=X_validation, 
    label=y_validation, 
    cat_features=cat_features
)

NameError: name 'train1' is not defined